<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1600</integer>
    <key>capHeight</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>Copyright 2021 The Drafting Mono Project Authors (https://github.com/indestructible-type)</string>
    <key>descender</key>
    <integer>-400</integer>
    <key>familyName</key>
    <string>Drafting Mono</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <real>-10.0</real>
    <key>note</key>
    <string></string>
    <key>openTypeHeadCreated</key>
    <string>2020/04/23 18:01:49</string>
    <key>openTypeHheaAscender</key>
    <integer>1830</integer>
    <key>openTypeHheaDescender</key>
    <integer>-624</integer>
    <key>openTypeHheaLineGap</key>
    <integer>180</integer>
    <key>openTypeNameDesigner</key>
    <string>Owen Earl</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://ewonrael.github.io</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>indestructible type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://indestructibletype.com/</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1600</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-400</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>180</integer>
    <key>openTypeOS2VendorID</key>
    <string>it* </string>
    <key>openTypeOS2WinAscent</key>
    <integer>1830</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>624</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-200</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleName</key>
    <string>Italic</string>
    <key>trademark</key>
    <string></string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>0</integer>
  </dict>
</plist>
